* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(/Projects/Digital_Art_Portfolio_Project/IMG/Home.jpg);
  background-color: #ffa500;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  color: #f2f2f2;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ffff;
  color: #000;
}

.topnav a.active {
  background: #ff8c00;
  color: #ffff;
}

.form {
  float: right;
  margin: 5px 10px 0 0;
  }

  .email {
  padding: 4px;
  }

  .password {
  padding: 4px;
  }

  .btn {
  padding: 2px;
  }

  .heading1 {
    text-align: center;
    font-size: 50px;
    margin: 40px;
    color: #ffa500;
    background-color: #000;
    padding: 15px 0 15px 0;
  }

  .flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }

  img {
    border: solid 5px;
    margin: 0 0 0 50px;
    }

  .Naz {
  float: left;
  margin: 50px 50px 50px 50px;
  }

  .Sketch {
    margin: 50px 50px 50px 50px;
  }

  .Mommy {
  margin:  50px 50px 50px 50px;
  }

  .text {
  margin: 0 0 50px 0;
  color: #000;
  text-align: center;
  padding: 5px 5px 5px 5px;
  background-color: #000;
  }

  .text-2 {
    background-color: #ff8c00;
    padding: 15px 10px 35px 10px;
    background-image: url(/Projects/Digital_Art_Portfolio_Project/IMG/Practice&About.jpg);
  }

  .text.p {
  padding: 65px 65px 65px 65px;
  }

  footer {
  background-color: #333;
  text-align: center;
  color: #ffff;
  padding: 10px 20px;
  }

  .h-3 {
    padding: 0 0 15px 0;
  }
  /* If the screen is 1171.20px or less then I do want these styles to be applied. If it's above 1037.60px then I don't want these styles to be applied. Use (min-width: 800px) to do the opposite which is if the screen is 800px and up then apply whaever styles. */
@media screen and (max-width: 817.60px){
  .topnav a {
    font-size: 16px;
  }
}
@media screen and (max-width: 803.20px){
  .email {
    display: none;
  }
  
  .password {
    display: none;
  }
  
  .btn {
    display: none;
  }
}