* {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}

body {
    background-image: url(/Projects/Kekes_Model_Website/IMG/contact_bg4.png);
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 2%;
}

/* Title start */
.header {
    text-align: center;
    position: relative;
    top: 80px;
    font-size: x-large;
    font-variant: small-caps;
    color: #fffffff1;
    padding: 10px;
}

.header h1 {
    font-weight: lighter;
}

.position-container {
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

.main-container {
    background-color: #b08c8c6b;
    padding: 50px;
    display: grid;
    column-gap: 3vmax;
    display: flex;
    border-radius: 2%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #b08c8c00 inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* Contact info start */
.info-container, form {
    height: 425px;
}

.info-container {
    background-color: #d7a615;
    border-radius: 10px;
    padding: 2vmax 70px 3vmax 2vmax;
    display: grid;
}

.info-heading h1 {
    margin-bottom: 10px;
}

.info-heading h1:hover, .info-heading p:hover, .header h1:hover {
    cursor: default;
}

.info-heading p {
    font-size: 16px;
}

.info-group-1, .info-group-2, .info-group-3, .info-group-4 {
    display: grid;
    column-gap: 20px;
    display: flex;
}

/* Form start */
form {
    color: white;
    margin-top: 10px;
}

.position-group-container {
    display: grid;
    column-gap: 5%;
    display: flex;
}

.firstNameEmail-group input, .lastNamePhone-group input {
    width: 285px;
}

.firstNameEmail-group input, .lastNamePhone-group input, .message textarea {
    background: none;
    border: none;
    font-size: x-large;
    margin-top: 26px;
    outline: none;
    border-bottom: solid 1px #ffffff;
    color: #ffffff;
}

.firstNameEmail-group label, .lastNamePhone-group label, .message label {
    margin-top: 26px;
    font-size: medium;
}

.firstNameEmail-group {
    display: grid;
}

.lastNamePhone-group {
    display: grid;
}

.message textarea {
    width: 600px;
    resize: none;
}

.btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.btn button {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    background-color: #000000;
    font-size: large;
    transition: 1s;
}

.btn button:hover {
    transform: scale(1.1);
    background-color: #ffc107;
    color: black;
    cursor: pointer;
}

.socialMedia-icons {
    width: 25px;
    height: 25px;
}

/* Error Handling */
#errorMsg {
    margin-top: 3%;
    color: #fc7e00;
}

/* @media screen and (max-width: 1024px) {} */