* {
    margin: 0;
    padding: 0;
}

body {
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

/* Products */
.Product-Main-Container {
    padding-top: 300px;
    width: 100%;
    display: grid;
    margin-left: 10%;
    grid-template-columns: 30% 30%;
    column-gap: 25%;
}

.Product-image {
    border-radius: 10px;
    box-shadow: 0 10px 10px #00000040;
    position: relative;
    bottom: 20px;
    left: 15%;
    width: 105%;
    height: 75%;
    transition: 1s;
}

.Product-image:hover {
    cursor: default;
    transform: scale(1.3);
}

.Product-Details {
    background-color: #f5f5f5;
    border: 1 solid #f5f5f5;
    width: 65%;
    height: 85%;
    border-radius: 10%;
    box-shadow: 0 10px 10px #00000040;
    position: relative;
    bottom: 20%;
    padding: 10%;
}

.Product-Details h1 {
    font-size: 30px;
    font-family: serif;
    margin-bottom: 10px;
}

.Ratings {
    display: inline;
    color: #000000;
}

.Ratings p:nth-child(1) {
    display: inline;
    font-size: 40px;
    position: relative;
    top: 3px;
    right: 10px;
    color: #ffc107;
}

.Ratings p:nth-child(2) {
    display: inline;
}

.Product-Details a {
    font-size: 20px;
    text-decoration: none;
    margin-left: 15px;
}

.Product-Details h2, .Product-Details h2 span {
    cursor: default;
}

.Product-Details h2 {
    margin: 20px 0 30px 0;
    font-size: 30px;
}

.Product-Details h2 span {
    font-size: 20px;
    text-decoration: line-through;
    color: #ff0000;
}

.Product-Details input {
    margin-bottom: 20px;
}

.Product-Details input:nth-child(2) {
    margin-left: 10px;
}

.Product-Details div button {
    font-size: small;
    border-radius: 50px;
    padding: 12px;
    transition: 1s;
}

.Product-Details div button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #000000;
    color: #ffffff;
}

.Product-Detail-text {
    position: relative;
    top: 25px;
}

.Product-Detail-text p:nth-child(2) {
    margin-top: 15px;
}

.Product-Detail-text p:nth-child(1) img {
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
}

.Product-Detail-text p:nth-child(2) img {
    position: relative;
    top: 7px;
    right: 4px;
    width: 25px;
    height: 25px;
}

.AddToCart {
    margin-top: 60px;
    font-size: medium;
    border-radius: 50px;
    padding: 15px 60px 15px 60px;
    transition: 1s;
    background-color: #000000;
    color: white;
    cursor: pointer;
    position: relative;
    left: 15%;
}

.AddToCart:hover {
    background-color: #ffc107;
    color: #000000;
}

.Product-Discription-Container {
    font-size: large;
}

ul {
    position: relative;
    left: 30px;
}

/* Condition classes */
.Remove-Animation {
    display: none;
}

/* tablet view */
@media (max-width: 996px) {

    /* Dropdown Navigation Menu */
    #menu-open {
        position: fixed;
        top: 30px;
        left: 27px;
        width: 25px;
        height: 25px;
        cursor: pointer;
        z-index: 6;
        transition: 1s;
    }

    #menu-open:hover {
        transform: scale(1.1);
    }

    #menu-open span {
        display: flex;
        width: 20px;
        height: 2px;
        padding: 1px 2px 1px 2px;
        background-color: #000000;
        margin-top: 3.2px;
        transition: 1s;
    }
    
    /* Navigation Start */
    .nav-container {
        grid-template: repeat(4, 20%) / repeat(2, 50%);
        height: 45vh;
        z-index: 3;
        background-color: #000000;
        top: -50%;
        transition: 2s;
    }

    .nav-container.active {
    top: 0;
    }

    .menu.changeColor {
        background-color: #ffc107;
    }

    /* Products */
    .Product-Main-Container {
        position: absolute;
        top: 30%;
        width: 100%;
        display: grid;
        margin-left: 10%;
        grid-template-columns: 30% 30%;
        column-gap: 25%;
    }

    .Product-image {
        left: 15%;
        height: 45%;
    }

    .Product-image:hover {
        cursor: default;
        transform: scale(1.3);
    }

    .Product-Details {
        background-color: #f5f5f5;
        border: 1 solid #f5f5f5;
        width: 85%;
        height: 80%;
        border-radius: 10%;
        box-shadow: 0 10px 10px #00000040;
        position: relative;
        bottom: 20%;
        padding: 10%;
    }

    .Product-Details h1 {
        font-size: 20px;
        font-family: serif;
        margin-bottom: 10px;
    }

    .Ratings {
        display: inline;
        color: #000000;
    }

    .Ratings p:nth-child(1) {
        display: inline;
        font-size: 40px;
        position: relative;
        top: 3px;
        right: 10px;
        color: #ffc107;
    }

    .Ratings p:nth-child(2) {
        display: inline;
    }

    .Product-Details a {
        font-size: 20px;
        text-decoration: none;
        margin-left: 15px;
    }

    .Product-Details h2, .Product-Details h2 span {
        cursor: default;
    }

    .Product-Details h2 {
        margin: 20px 0 30px 0;
        font-size: 30px;
    }

    .Product-Details h2 span {
        font-size: 20px;
        text-decoration: line-through;
        color: #ff0000;
    }

    .Product-Details input {
        margin-bottom: 20px;
    }

    .Product-Details input:nth-child(2) {
        margin-left: 10px;
    }

    .Product-Details div button {
        font-size: small;
        border-radius: 50px;
        padding: 12px;
        transition: 1s;
    }

    .Product-Details div button:hover {
        cursor: pointer;
        transform: scale(1.1);
        background-color: #000000;
        color: #ffffff;
    }

    .Product-Detail-text {
        position: relative;
        top: 25px;
    }

    .Product-Detail-text p:nth-child(2) {
        margin-top: 15px;
    }

    .Product-Detail-text p:nth-child(1) img {
        position: relative;
        top: 2px;
        width: 16px;
        height: 16px;
    }

    .Product-Detail-text p:nth-child(2) img {
        position: relative;
        top: 7px;
        right: 4px;
        width: 25px;
        height: 25px;
    }

    .AddToCart {
        margin-top: 60px;
        font-size: medium;
        border-radius: 50px;
        padding: 15px 60px 15px 60px;
        transition: 1s;
        background-color: #000000;
        color: white;
        cursor: pointer;
        position: relative;
        left: 15%;
    }

    .AddToCart:hover {
        background-color: #ffc107;
        color: #000000;
    }

    .Product-Discription-Container {
        font-size: large;
    }

    ul {
        position: relative;
        left: 30px;
    }
    
    /* Start of footer */
    footer {
        top: 590%;
    }
    
    .last-footer-col button, .last-footer-col input, #footerLabel {
        display: none;
    }

    /* Navigation Animations */
    .nav-animate-group1 {
        animation: none;
    }
    
    .nav-animate-group2 {
        animation: none;
    }
}

/* mobile view */
@media (max-width: 500px) {
    /* Drop Navigation Menu */
    #menu-open {
        top: 30px;
        left: 27rem;
        z-index: 4;

    }

    /* Navigation Start */
    .nav-container {
        grid-template-rows: repeat(7, 100px);
        width: 100%;
        height: 100vh;
        background-color: #000000;
        border-right: none;
        top: -101%;
        left: 0;
    }
    
    .nav-container.active {
        top: 0;
    }
    
    /* Heading Start */
    .Heading {
        width: 100%;
    }
    
    .ad-1 img {
        width: 100%;
    }
    
    /* Start of dynamic cards */
    .Product-Main-Container {
        position: relative;
        bottom: 150px;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .Page-Nav-Text {
        top: 955%;
        left: 170px;
    }
    
    .Page-Navigator-2 img {
        top: 954%;
    }
}