/* Styling Home Section */
.home {
    width: 100%;
    min-height: calc(100vh - 60px);
    height: auto;
    margin-top: 60px;
    padding: 0 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    /* Portfolio Heading */
    .home-heading {
        font-size: 5rem;
        text-transform: capitalize;
    }


    /* Home Content Container */
    .home-content {
        width: 50%;
    }


    /* Coloring all Targeted words/letters */
    .highlight {
        color: #8c8320;
    }


    /* Creating and Styling Profession Background */
    .profession {
        width: fit-content;
        display: block;
        margin: 10px 0 20px auto;
        text-transform: capitalize;
        position: relative;
        padding: 10px 20px;
        color: #1d1d1d;
        z-index: 2;
    }


    /* Profession */
    .profession::before,
    .profession::after {
        content: '';
        position: absolute;
        background: #e3e3e3;
        top: 0;
    }


    /* Profession */
    .profession::before {
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transform: skewX(10deg);
    }


    /* Profession */
    .profession::after {
        left: -100px;
        width: 100px;
        height: 2px;
    }


    /* Home Image of 14 year old Naz */
    .image {
        max-width: 400px;
    }

    .home-img-caption {
        position: relative;
        left: 80px;
        z-index: -1;
        bottom: 220px;
    }

    .imgCap1-style {
        transition: 1s;
        width: fit-content;
        background: #dacd15b9;
        font-size: 15px;
        left: 70px;
        color: black;
        border-radius: 30px;
        padding: 15px;
    }


    /* Home Description */
    .info {
        line-height: 30px;
        margin-bottom: 50px;
    }


    /* Countdown Text */
    #Countdown-Text {
        color: #e2d220;
    }


    /* Countdown Number */
    #countdown {
        color: #d81919;
    }
}

/* Styling Home and Selected Buttons */
.btn, #resumeBtn {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    border: 3px solid #00000094;
    background: #964320;
    color: #fff;
    text-transform: capitalize;
    transition: 2s;
}

/* Home Buttons */
.btn:hover,
.btn:focus,
#resumeBtn:hover,
#resumeBtn:focus {
    transform: scale(1.1);
    transition-duration: 2s;
    cursor: pointer;
    background: #0000009c;
    color: #fff;
}


/* Home Button: Resume */
#resumeBtn {
    margin-left: 10px;
}


/* Styling Certificate Section */
.certificate-container {
    margin-top: 70px;
    .certificate-description {
        font-weight: 300;
        font-size: 15.5px;
        text-align: center;
    }
}


/* Toggle Background Colors on click */
.changeBackgroundColor {
    background: linear-gradient(90deg, #000, #0d0ddf, #000);
}


/* Text Color Toggle */
.changeTextColor {
    background: linear-gradient(red, yellow, red);
    /* Adjust colors as needed */
    -webkit-background-clip: text;
    color: transparent;
}