/* Navigation */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(90deg, #000000, #ff0000ad, #000000);
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9; }

.brand-container {
  display: flex;
  align-items: center; }

/* My Brand Name */
.brand {
  text-transform: capitalize;
  font-weight: 500;
  color: #e1dad5;
  font-family: Georgia, 'Times New Roman', Times, serif; }

/* Navigation Link Container */
.links-container {
  display: flex;
  list-style: none; }

/* Styling each individual link */
.link {
  text-transform: capitalize;
  color: #e1dad5;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
  position: relative; }

/* not() selector doesn't add the hover affect to the spaciffic element (in this case the element with the class of 'active') */
.link:hover:not(.active) {
  opacity: 0.7; }

/* Creating and Stylinging Navigation Tracker */
.link.active::before,
.seperator::before,
.link.active::after,
.seperator::after {
  content: '';
  position: absolute; }

/* Navigation Tracker */
.link.active::before,
.seperator::before {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #e1dad5; }

/* Navigation Tracker */
.link.active::after,
.seperator::after {
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e1dad5; }

/* Navigation Color Toggle */
.changeNavColorByToggle {
  background: linear-gradient(90deg, #0000ff, #131313b1, #0000ff); }

.App-logo {
  width: 60px; }

.App-logo::selection,
.App-logo2::selection {
  display: none; }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; } }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  width: 100%;
  position: relative;
  background: linear-gradient(90deg, #000000, #8f1616, #000000);
  color: #e1dad5;
  font-family: 'roboto', sans-serif; }

/* Styling Home Section */
.home {
  width: 100%;
  min-height: calc(100vh - 60px);
  height: auto;
  margin-top: 60px;
  padding: 0 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; }

/* Portfolio Heading */
.home-heading {
  font-size: 5rem;
  text-transform: capitalize; }

/* Home Content Container */
.home-content {
  width: 50%; }

/* Coloring all Targeted words/letters */
.highlight {
  color: #8c8320; }

/* Creating and Styling Profession Background */
.profession {
  width: fit-content;
  display: block;
  margin: 10px 0 20px auto;
  text-transform: capitalize;
  position: relative;
  padding: 10px 20px;
  color: #1d1d1d;
  z-index: 2; }

/* Profession */
.profession::before,
.profession::after {
  content: '';
  position: absolute;
  background: #e3e3e3;
  top: 0; }

/* Profession */
.profession::before {
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: skewX(10deg); }

/* Profession */
.profession::after {
  left: -100px;
  width: 100px;
  height: 2px; }

/* Home Image of 14 year old Naz */
.image {
  max-width: 400px; }

.home-img-caption {
  position: relative;
  left: 80px;
  z-index: -1;
  bottom: 220px; }

.imgCap1-style {
  transition: 1s;
  width: fit-content;
  background: #dacd15b9;
  font-size: 15px;
  top: 20px;
  color: black;
  border-radius: 30px;
  padding: 15px; }

/* Home Description */
.info {
  line-height: 30px;
  margin-bottom: 50px; }

/* Countdown Text */
#Countdown-Text {
  color: #e2d220; }

/* Countdown Number */
#countdown {
  color: #d81919; }

/* Styling Home Buttons */
.btn,
#resumeBtn {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
  border: 3px solid #00000094;
  background: #964320;
  color: #fff;
  text-transform: capitalize;
  transition: 2s; }

/* Home Buttons */
.btn:hover,
.btn:focus,
#resumeBtn:hover,
#resumeBtn:focus {
  transform: scale(1.1);
  transition-duration: 2s;
  cursor: pointer;
  background: #0000009c;
  color: #fff; }

/* Home Button: Resume */
#resumeBtn {
  margin-left: 10px; }

/* Styling Certificate Section */
.certificate-container {
  margin-top: 70px; }

.certificate-description {
  font-weight: 300;
  font-size: 15.5px;
  text-align: center; }

/* Toggle Background Colors on click */
.changeBackgroundColor {
  background: linear-gradient(90deg, #000, #0d0ddf, #000); }

/* Text Color Toggle */
.changeTextColor {
  background: linear-gradient(red, yellow, red);
  /* Adjust colors as needed */
  -webkit-background-clip: text;
  color: transparent; }

/* tablet view */
@media (max-width: 1055px) {
  html {
    font-size: 14px; }
  .home-img-caption {
    left: 60px; }
  .imgCap1-style {
    top: -10px; }
  /* Toggle btn */
  .toggle-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 10vw;
    cursor: pointer; }
  .toggle-btn span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: 30%;
    transition: .5s; }
  .toggle-btn span:nth-child(2) {
    top: 70%; }
  .toggle-btn.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg); }
  .toggle-btn.active span:nth-child(2) {
    top: 50%;
    transform: rotate(-45deg); }
  /* links */
  .links-container {
    position: absolute;
    top: 60px;
    background-color: #1d1d1d;
    width: 100%;
    left: 0;
    padding: 0 10vw;
    flex-direction: column;
    transition: .5s;
    opacity: 0;
    pointer-events: none; }
  .links-container.show {
    opacity: 1;
    pointer-events: all; }
  .link {
    margin-left: auto;
    text-align: center;
    display: block;
    height: 50px; }
  /* home section */
  .home {
    flex-direction: column-reverse;
    height: fit-content;
    padding-bottom: 50px; }
  .image {
    width: 300px;
    height: 300px;
    margin: 40px; }
  .home-content {
    width: 70%;
    min-width: 350px;
    text-align: center; }
  .home-heading {
    font-size: 4.5rem; }
  /* about-section */
  .about-me-container {
    grid-template-columns: 1fr; }
  .left-col {
    margin: auto;
    width: 50%;
    min-width: 320px; }
  .skill-container,
  .project-container,
  .certificate-container {
    grid-template-columns: repeat(2, 1fr); }
  .certificate-description {
    font-size: 13.5px; }
  .skill-card {
    /* important value overwrites everything in the class with the new styles aka grid-column. */
    grid-column: 1 span !important; }
  .project-name {
    font-size: 2rem; }
  .tags {
    font-size: 1.2rem; }
  /* Footer */
  .footer div img {
    margin-top: 30px;
    width: 100%; } }

/* Resizing Project Names and Tags */
@media (max-width: 695px) {
  .project-name {
    font-size: 1.5rem; }
  .tags {
    font-size: 0.8rem; } }

/* mobile view */
@media (max-width: 500px) {
  html {
    font-size: 12px; }
  p,
  .sub-heading,
  .about-paragraph,
  .left-col::before,
  .tags {
    font-size: 1.4rem; }
  .about-image {
    width: 90%;
    margin: auto;
    display: block;
    height: 340px; }
  .skill-container,
  .project-container,
  .certificate-container {
    grid-template-columns: 1fr; }
  .certificate-description {
    font-size: 20px; }
  .skill {
    font-size: 2.5rem; }
  .project-name {
    font-size: 3rem; }
  .name {
    flex-direction: column; }
  .name input {
    width: 100%; }
  .first-name {
    margin-bottom: 20px !important; }
  /* Footer */
  .footer div img {
    margin-top: 15px;
    max-width: 35px; }
  .footer p {
    font-size: 12.5px; } }

/* Styling About Section */
.about {
  width: 100%;
  height: auto;
  padding: 50px 10vw; }

/* Heading */
.heading {
  text-align: center;
  font-weight: 500;
  font-size: 3.5rem;
  text-transform: capitalize; }

/* Sub Heading */
.sub-heading {
  text-align: center;
  font-size: 1rem;
  margin: 10px;
  opacity: 0.7; }

/* Line under the Sub Heading */
.seperator {
  width: 25%;
  margin: 20px auto;
  position: relative; }

/* Container */
.about-me-container {
  margin: 150px 0 100px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 50px; }

/* Image column and About Me Text Column */
.left-col,
.right-col {
  position: relative; }

.left-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px; }

/* Fun little message */
.left-col::before {
  content: "Mr. Knucks (Naz) The sleepless dev.";
  text-transform: capitalize;
  transform: rotate(30deg);
  position: absolute;
  right: -20px;
  top: -40px; }

/* Image column */
.left-col::after {
  content: '';
  position: absolute;
  right: 120px;
  top: -10px;
  width: 50px;
  height: 2px;
  background: #fff;
  transform-origin: right;
  transform: rotate(-30deg); }

/* Image in About Section */
.about-image {
  border-radius: 30px;
  box-shadow: 0 10px 10px #00000040; }

/* About Me Text */
.about-paragraph {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 40px; }

/* Styling Skill Section */
.skill-container {
  position: relative;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; }

.skill-card {
  height: 200px;
  border-radius: 10px;
  border: 1px solid #615b17;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: .5s; }

.skill {
  font-size: 2rem;
  color: #655f17;
  line-height: 200px; }

.skill-card:hover,
.skill-card:active {
  background: var(--bg);
  transform: scale(1.1);
  transform: translateY(-15px); }

.skill-card:hover .skill,
.skill-card:active .skill {
  color: #fff; }

/* Styling Project Section */
.project,
.contact {
  position: relative;
  padding: 50px 10vw; }

.filters {
  width: fit-content;
  display: block;
  margin: 100px auto;
  text-align: center; }

.project-filter-btn,
.testimonial-filter-btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  text-transform: capitalize;
  margin: 0 5px 10px;
  cursor: pointer;
  transition: 1s; }

.project-filter-btn:hover,
.testimonial-filter-btn:hover {
  transform: scale(1.1);
  background: linear-gradient(90deg, #00000067, #887e14, #00000067); }

.project-filter-btn.active,
.testimonial-filter-btn.active {
  background: linear-gradient(90deg, #0000005e, #887e14, #0000005e);
  color: #fff; }

.project-container,
.certificate-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; }

.project-card {
  position: relative;
  cursor: pointer;
  display: block;
  color: #fff;
  transition: 1s; }

.project-card:hover,
.project-card:active {
  transform: translateY(-5%);
  transition: .5s; }

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.project-card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  text-transform: capitalize;
  opacity: 0; }

.project-name {
  font-weight: 300;
  font-size: 1.7rem;
  text-align: center; }

.tags {
  position: absolute;
  bottom: 1px;
  opacity: 0.6;
  width: 90%;
  font-size: 0.9rem; }

.project-card:hover .content {
  opacity: 1; }

.project-card .hide {
  display: none; }

/* Resizing Project Names and Tags */
@media (max-width: 1264px) {
  .project-name {
    font-size: 1.3rem; }
  .tags {
    font-size: 0.70rem; } }

/* Styling Contact Section */
.contact-form {
  width: 100%;
  margin-top: 100px;
  position: relative; }

.contact-form input,
.message {
  width: 100%;
  display: block;
  height: 50px;
  padding: 20px;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  border: none;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  outline: none;
  margin: 30px 0;
  text-transform: capitalize;
  resize: none; }

.message {
  height: 200px; }

.contact-form .name {
  display: flex;
  justify-content: space-between; }

.name input {
  width: 49%;
  margin: 0; }

.contact-form .btn {
  display: block;
  margin: auto;
  cursor: pointer;
  border: 2px solid #0000004f; }

.contact-form .btn:hover {
  background: #8c832037;
  color: #e1dad5; }

.validationError {
  background-color: #ff0000;
  transition: 1s;
  transform: translateY(10%); }

/* Declaring Variables */
:root {
  --primary-color: #dfc012;
  --white-color: #fff;
  --light-color: #ced6e0;
  --dark-color: #2f3542;
  --box-shadow: #000; }

ul {
  list-style: none; }

/* Styling Testimonial Container */
.testimonial-container {
  max-width: 900px;
  margin: 0 auto; }

.testimonial-container:hover {
  cursor: grab; }

.testimonial-container:active {
  cursor: grabbing; }

/* Positioning Elements in wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 30px 0; }

/* Styling Containers */
.testimonial-container,
.img-container {
  width: 150px;
  height: 150px;
  position: relative;
  flex-shrink: 0; }

/* Styling Image */
.testimonial-container,
.img-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%; }

/* Displaying Image Background */
.img-container::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 30px);
  height: calc(100% + 10px);
  background-color: var(--primary-color);
  border-radius: 50%;
  z-index: -1;
  box-shadow: var(--box-shadow);
  transition: border-radius .5s .3s; }

/* Styling Image background */
.swiper-slide-active .img-container::before {
  border-radius: 33% 67% 50% 50% / 50% 14% 86% 50%; }

/* Positioning Testimonial Message Container */
.message-container {
  position: relative;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-self: flex-end; }

/* Styling Testimonial Message Visible */
.message-container > p {
  position: relative;
  font-size: 14px;
  line-height: normal;
  margin-bottom: 30px;
  opacity: 0;
  transform: translateX(10%);
  transition: transform 1s, opacity 1s; }

/* Making Testimonial Message Visible */
.swiper-slide-active .message-container > p {
  transform: translateX(0);
  opacity: 1; }

/* Styling both open and closed quotes */
.message-container > p::before,
.message-container > p::after {
  font-family: serif;
  font-size: 80px;
  font-weight: 800;
  line-height: 1;
  position: absolute;
  color: var(--light-color);
  height: 40px;
  z-index: -1; }

/* Styling Open Quotes */
.message-container > p::before {
  content: open-quote;
  top: -40px;
  left: 10px; }

/* Styling Closed Quotes */
.message-container > p::after {
  content: close-quote;
  top: 50px;
  right: 0; }

/* Partner Description Container */
.testimonial-container .message-container .PartnerDescription-Container {
  position: relative;
  width: fit-content;
  line-height: 1;
  opacity: 0;
  transform: translateX(30px);
  transition: transform 1s .2s, opacity 1s .3s; }

/* Making PartnerDescription-Container visiable */
.testimonial-container .swiper-slide-active .PartnerDescription-Container {
  transform: translateX(0);
  opacity: 1; }

/* Styling Testimonial Name */
.PartnerDescription-Container h3 {
  font-size: 22px;
  margin-bottom: 3px;
  font-weight: 800;
  color: var(--primary-color);
  opacity: .8; }

/* Styling Testimonial Profession/Service Provided Caption */
.PartnerDescription-Container p {
  font-size: 12px;
  text-align: right; }

/* Slider Styles: Styling and Positioning Navigation arrows */
.testimonial-container :is(.swiper-button-next, .swiper-button-prev) {
  background-color: var(--light-color);
  top: 35%;
  height: 38px;
  border-radius: 50%;
  transition: background-color .3s;
  box-shadow: var(--box-shadow); }

/* Styingling Navigation Buttons on hover */
.testimonial-container :is(.swiper-button-next, .swiper-button-prev):hover {
  background-color: var(--primary-color); }

/* Styingling Navigation Arrows */
.testimonial-container :is(.swiper-button-next, .swiper-button-prev)::after {
  font-size: 16px;
  font-weight: 800;
  color: var(--white-color); }

/*  Styling bottom navigation dots for slide tracking */
.testimonial-container .swiper-pagination span {
  background-color: var(--light-color);
  transition: width .3s;
  opacity: 1; }

/*  Styling bottom navigation dots giving it color */
.testimonial-container .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--primary-color); }

/* Responsive Web Design */
@media screen and (min-width: 843px) {
  /* Positioning Elements in wrapper */
  .wrapper {
    flex-direction: row;
    padding: 30px 100px; }
  /* Styling Image Container */
  .img-container {
    width: 200px;
    height: 200px; }
  /* Styling Navigation arrows */
  .testimonial-container :is(.swiper-button-next, .swiper-button-prev) {
    top: 50%; }
  /* Partner Description Container */
  .swiper-slide-active .PartnerDescription-Container {
    transform: translateX(-50px); } }

@media screen and (max-width: 600px) {
  /* Styling Closed Quotes */
  .message-container > p::after {
    top: 70px; } }

@media screen and (max-width: 450px) {
  /* Styling Closed Quotes */
  .message-container > p::after {
    top: 80px; } }

@media screen and (max-width: 355px) {
  /* Styling Closed Quotes */
  .message-container > p::after {
    top: 100px; } }

/* Footer */
.footer {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ff3559;
  line-height: 30px; }

.footer div {
  display: flex;
  justify-content: center;
  column-gap: 40px; }

.footer div img {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 50px;
  max-width: 50px; }

/* Footer Color Toggle */
.footerBackgroundColorToggle {
  background: linear-gradient(90deg, #0000ff, #d1d1d1cb, #0000ff);
  color: #000000; }
